<div class="conteneur-panel">
    <div class="row align-items-center">

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>Bébé</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>Jeunesse</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>Adolescent</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>
    </div>

    <div class="row align-items-center">

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>1er Année</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>2eme Année</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>3eme Année</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>
        
    </div>

    <div class="row align-items-center">

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>4eme Année</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>5eme Année</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>

        <div class="categorie-item col-lg-4">
            <div class="img-categorie">
                <img src="../../../../assets/images-livres/photo1.png" class="bd-placeholder-img"
                    placeholder="Image">
            </div>
            <div class="description-categorie">
                <h2>6eme Année</h2>
                <p><a class="btn btn-secondary" href="#">Consulter »</a></p>
            </div>
        </div>

    </div>
</div>