<table class="table">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Prix</th>
        <th scope="col">Modifications</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Livre #01</td>
        <td>$0.00</td>
        <td><a href="#" aria-describedby="supprimer livre" >supprimer</a>&nbsp;&nbsp;<a href="#" aria-describedby="modifier livre">modifier</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Livre #02</td>
        <td>$0.00</td>
        <td><a href="#" aria-describedby="supprimer livre">supprimer</a>&nbsp;&nbsp;<a href="#" aria-describedby="modifier livre">modifier</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Livre #03</td>
        <td >$0.00</td>
        <td><a href="#" aria-describedby="supprimer livre">supprimer</a>&nbsp;&nbsp;<a href="#" aria-describedby="modifier livre">modifier</a></td>
      </tr>
      
    </tbody>

  </table>