table {
    width: 100%;
  }
mat-slider {
    width: 80px;
  }
.mat-form-field {
    font-size: 14px;
    width: 40%;
    padding-left: 5%;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 7f7315d2f8f9c9008b1db92d3d7adfd5bca7bfad
